# Agent Framework 第三方库 Submodules
# 使用与 Taskflow 相同的 3rd-party 目录

[submodule "3rd-party/nlohmann"]
	path = 3rd-party/nlohmann
	url = https://github.com/nlohmann/json.git

[submodule "3rd-party/httplib"]
	path = 3rd-party/httplib
	url = https://github.com/yhirose/cpp-httplib.git

[submodule "3rd-party/websocketpp"]
	path = 3rd-party/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git

[submodule "3rd-party/exprtk"]
	path = 3rd-party/exprtk
	url = https://github.com/ArashPartow/exprtk.git

[submodule "3rd-party/canvas_ity"]
	path = 3rd-party/canvas_ity
	url = https://github.com/a-e-k/canvas_ity.git

[submodule "3rd-party/stb"]
	path = 3rd-party/stb
	url = https://github.com/nothings/stb.git

[submodule "3rd-party/imgui"]
	path = 3rd-party/imgui
	url = https://github.com/ocornut/imgui.git

[submodule "3rd-party/implot"]
	path = 3rd-party/implot
	url = https://github.com/epezent/implot.git

[submodule "3rd-party/implot3d"]
	path = 3rd-party/implot3d
	url = https://github.com/brenocq/implot3d.git
[submodule "3rd-party/faiss"]
	path = 3rd-party/faiss
	url = https://github.com/facebookresearch/faiss.git
[submodule "3rd-party/FTXUI"]
	path = 3rd-party/FTXUI
	url = https://github.com/Mapoet/FTXUI.git
